* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Josefin Sans", serif;
}

body {
    background: rgb(255, 255, 255);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 35px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.50s ease;
    background-color: rgb(82, 82, 82);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    color: rgb(81, 177, 255);
}

.logo img {
    width: 80px;
}


.navlist {
    display: flex;
    color: rgb(14, 181, 247);
}

.navlist a {
    display: inline-block;
    margin: 0 35px;
    color: rgb(14, 181, 247);
    font-size: 16px;
    font-weight: 600;
    transition: all 0.50s ease;
}

.navlist li {
    transition: all 0.5s ease;
    cursor: pointer;
}

.navlist li:hover {
    text-shadow: 3px 3px 20px rgb(14, 181, 247), -2px 1px 30px #fff;
}

.nav-right {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 14px 35px;
    background-color: rgb(14, 181, 247);
    font-size: 14px;
    font-weight: 600;
    color: #000;
    border-radius: 10px;
    margin-right: 12px;
    transition: all .6s ease;
}

.btn:hover {
    background: black;
    color: rgb(14, 181, 247);
    box-shadow: 0 0 20px rgb(14, 181, 247);
    transform: scale(1.1);
}

#menu-icon {
    font-size: 34px;
    color: white;
    z-index: 10001;
    cursor: pointer;
    display: none;
}





.about {
    height: 100vh;
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about .main img{
    width: 580px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
}

.all-text {
    width: 600px;
    max-width: 100%;
    padding: 0 30px;
    text-align: center;
}

.main {
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.all-text h4 {
    font-size: 18px;
    color: rgb(78, 78, 78);
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
}

.all-text h1 {
    font-size: 50px;
    color: rgb(33, 133, 216);
    font-weight: 500;
    margin-bottom: 20px;
}

.all-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgb(78, 78, 78);
    line-height: 30px;
    margin-bottom: 35px;
    text-align: justify;
}

.about-btn a{
    background: rgba(135, 207, 235, 0.123);
    margin-right: 30px;
    padding: 14px 35px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    border: 3px solid rgb(0, 0, 0);
    margin-right: 12px;
    border-radius: 10px;
}

.about-btn a:hover {
    background-color: black;
    color: rgb(14, 181, 247);
    transition: 0.3s;
    cursor: pointer;
}

@media screen and (max-width: 1250px) {
    .about {
        width: 100%;
        height: auto;
        padding: 60px 0;
    }

    .all-text {
        text-align: center;
        margin-top: 40px;
    }
}

@media screen and (max-width: 650px) {
    .about .main img {
        margin-bottom: 35px;
    }

    .all-text h1 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .nav-right .btn {
        display: none;
    }
}



.service {
    padding-top: 150px;
}

#service-section {
    min-height: 720px;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#service-section h2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 30px;
    position: relative;
}

#service-section h2::after {
    position: absolute;
    content: " ";
    top: 8px;
    left: -30px;
    height: 0px;
    width: 0px;
    border-top: 20px solid transparent;
    border-left: 20px solid rgb(14, 181, 247);
}


#service-section h2::before {
    position: absolute;
    content: " ";
    top: 8px;
    right: -30px;
    height: 0px;
    width: 0px;
    border-top: 20px solid transparent;
    border-right: 20px solid rgb(14, 181, 247);
}


#service-section #programs-paragraph {
    width: 40%;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: 40px;
}

.servicecards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    z-index: 9;
    margin-top: 20px;
    margin-bottom: 40px;
}

.servicecards .servicecard {
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 8%;
    background: rgb(56, 56, 56);
    position: relative;
    border-radius: 10px;
}

.servicecards .servicecard::before {
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: rgb(14, 181, 247);
    transform: rotate(0deg);
    z-index: -8;
}

.servicecards .servicecard:hover.servicecard::before {
    transform: rotate(10deg) ; 
}

.servicecards .servicecard i {
    font-size: 2.5rem;
    color: rgb(14, 181, 247);
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.servicecards .servicecard h1 {
    font-size: 1.6rem;
    color: rgb(14, 181, 247);
    margin-bottom: 10px;
    text-align: center;
}

.servicecards .servicecard p {
    color: rgb(255, 255, 255);
    font-size: 1.03rem;
    text-align: center;
}

@media(max-width:1100px) {
    #service-section h2{
        margin-top: 30px;
    }

    .servicecards {
        grid-template-columns: repeat(1,1fr);
    }

    #service-section #programs-paragraph {
        width: 80%;
    }
}


@media(max-width:900px) {
    .servicecards .servicecard {
        height: 300px;
        width: 350px;
        margin: 20px 0;
    }

}















footer {
    background-color: rgb(56, 56, 56);
}

.footer-container {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialicons {
    display: flex;
    justify-content: center;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(14, 181, 247);
    margin: 15px;
    border-radius: 50%;
}

.socialicons a i {
    font-size: 1em;
    color: #000000;
    opacity: 0.9;
}

.socialicons a:hover {
    background-color: #000;
    transition: 0.5s;
}


.socialicons a:hover i {
    color: rgb(14, 181, 247);
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
}


.footerNav ul li a {
    color: rgb(14, 181, 247);
    text-decoration: none;
    font-size: 1.3em;
    margin: 20px;
    opacity: 0.5;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerbutton {
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerbutton p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0px 5px;
}

@media(max-width:700px) {
    .footerNav ul {
        flex-direction: column;
    }


    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}


.contact-section {
    background: rgb(56, 56, 56);
    padding: 80px 0;
    text-align: center;
}

.inner-width {
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
}

.contact-section h1 {
    font-size: 25px;
    color: rgb(14, 181, 247);
    margin-bottom: 40px;
    font-weight: bold;
    letter-spacing: 4px;
}

.name, .email, .Message {
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(14, 181, 247);
    color: rgb(14, 181, 247);
    padding: 10px 6px;
    font-size: 14px;
    margin-bottom: 40px;
}

.name {
    float:left;
    width: 270px;
}

.email {
    float: right;
    width: 270px;
}

.Message {
    min-width: 100%;
    max-width: 100%;
}

.contact-section button {
    background: none;
    color: rgb(14, 181, 247);
    border: 1px solid rgb(14, 181, 247);
    padding: 12px 40px;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.4s linear;
}

.contact-section button:hover {
    background: rgb(14, 181, 247);
    color: black;
}


@media screen and (max-width:600px) {
    .name, .email {
        width: 100%;
    }
}









.container{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top: 150px;
    background-color: #000;
}

.slider {
    height: 750px;
    width:100vw;
    display: flex;
    perspective: 1000px;
    position: relative;
    align-items:center;
}

.box1{      background: url(../pics/signal-2024-01-05-16-43-33-896-1.jpg);
    background-size:cover;
    background-position:center center;}
  .box2{
  background:url(../pics/15199758144_45b6306af0_k.jpg);
    background-size:cover;
    background-position:center center;}
  .box3{
  background:url(../pics/Children-3-scaled.jpg);
    background-size:cover;
    background-position:center center;}
  .box4{
  background:url(../pics/Healthcare.jpg);
    background-size:cover;
    background-position:center center;}
  .box5{
  background:url(../pics/helping-needy-ugandans.jpg);
    background-size:cover;
    background-position:center center;}
  .box6{
  background:url(../pics/Under-School-Outreach-.jpg);
    background-size:cover;
    background-position:center center;}
  .box7{
  background:url(../pics/under-senstazition-awareness.jpg);
    background-size:cover;
    background-position:center center;}

  .slider [class*="box"] {
  /*   float: left; */
    overflow: hidden;
    border-radius:20px;
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
      position:absolute;
  }
  .slider [class*="box"]:nth-child(7),
  .slider [class*="box"]:nth-child(1) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.2) translate(-50%,-50%);
    top: 10%;
    z-index:1;
  }
  .slider [class*="box"]:nth-child(2),
  .slider [class*="box"]:nth-child(6) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.4) translate(-50%,-50%);
    top: 20%;
    z-index:2;
  }
  .slider [class*="box"]:nth-child(3),
  .slider [class*="box"]:nth-child(5) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.6) translate(-50%,-50%);
    top: 30%;
    z-index:3;
  }
  .slider [class*="box"]:nth-child(4) {
    width: 60vw;
    height: 60vh;
    border-color: #c92026;
    color: #fff;
    transform: scale(1) translate(-50%,-50%);
    top: 50%;
    z-index:4;
  }
  .slider [class*="box"]:nth-child(1){
    left:-13%;}
  .slider [class*="box"]:nth-child(2){
    left:-5%;}
  .slider [class*="box"]:nth-child(3){
    left:10%;}
  .slider [class*="box"]:nth-child(4){
    left:50%;}
  .slider [class*="box"]:nth-child(5){
    left:71%;}
  .slider [class*="box"]:nth-child(6){
    left:85%;}
  .slider [class*="box"]:nth-child(7){
    left:100%;}
  .slider .firstSlide {
      -webkit-animation:  firstChild 1s;
      animation:  firstChild 1s;
  }
  /*Animation for buyers landing page slider*/
  @-webkit-keyframes firstChild {
      0% {left:100%; transform: scale(0.2) translate(-50%,-50%);}
      100% {left: -13%; transform: scale(0.2) translate(-50%,-50%);}
  }
  @keyframes firstChild {
     0% {left:100%; transform: scale(0.2) translate(-50%,-50%);}
      100% {left: -13%; transform: scale(0.2) translate(-50%,-50%);}
  }


















  









  .service {
    width: 100%;
    min-height: 100vh;
    display: grid;
    justify-items: center;
  }


.servicerow {
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    overflow: hidden;
    padding: 5rem 0;
}

.servicerow .imagewrapper {
    overflow: hidden;
}

.servicerow .imagewrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.servicerow .imagewrapper:hover img {
    transform: scale(1.25);
}

.servicerow .contentwrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.servicerow .contentwrapper span.textwrapper {
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}



.servicerow .contentwrapper h2{
    font-size: 30px;
    font-weight: 700;
    color: rgb(14, 181, 247);
    padding-bottom: 10px;
}

.servicerow .contentwrapper p{
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 20px;
}

.servicerow .contentwrapper a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background:  rgb(14, 181, 247);
    color: #000;
    padding: 10px 30px;
    letter-spacing: 1px;
    user-select: none;
    border-radius: 8px;
}

@media screen and (max-width: 768px){
    .servicerow {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
}



.btnn {
    background: rgba(58, 199, 255, 0.699);
    margin-right: 30px;
    padding: 14px 35px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    border: 3px solid rgb(255, 255, 255);
    margin-right: 12px;
    border-radius: 10px;
    margin-top: 115px;
}

.btnn:hover {
    background: rgba(58, 199, 255, 0);
    color: #00ccff;
    border: 3px solid rgb(0, 217, 255);
}






@media screen and (max-width: 768px){
    .hero-box {
        background: url(../May\ Root/pics/Herosectionmobile.png);
        width: 100%;
    }


    .hero-container {
        width: 90%;
        margin-top: 700px;
    }
}



@media screen and (max-width: 480px) {
    .container{
        display: none;
    }
     
}

@media(max-width:1050px){
    .logo {
        font-size: 20px;
    }

    .navlist li {
        margin: 0 25px;
    }

    .btn {
        padding: 6px 20px;
    }
}

@media(max-width:940px){
    #menu-icon{
        display: block;
    }

    .navlist {
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background: black;
        backdrop-filter: blur(100%);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 180px;
        transition: all .7s ease;
    }

    .navlist a{
        display: block;
        padding: 0;
        margin: 0px 0px 50px 0px;
        font-size: 1.7rem;
    }

    .navlist.open{
        right: 0;
    }
}

@media screen and (max-width:600px) {
    header .logo {
        font-size: 10px;
    }


    .logo img {
       width: 50px;
    }

    .btn {
       display: none;
    }

    .inner-width h1 {
        font-size: 20px;
    }
}


@media screen and (max-width:480px) {
    .service {
    width: 100%;
    padding-top:90px;
  }
}























.autoshow {
    animation: text-appear both;
    animation-timeline: view();
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: (0);
    }
}
